html{
  background-image: url('../../images/blue-71293_640.jpg');
  background-size:cover;
}
header h1{
  text-align:center;
}
form#signup-form{

}

/*::-webkit-input-placeholder {
/* font-size: 14px;
/* color: #d0cdfa;
/* text-transform: uppercase;
/* text-transform: uppercase;
/* text-align: center;
/* font-weight: bold;
/*}
/*:-moz-placeholder { /* older Firefox*/
/* font-size:14px;
/* color: #d0cdfa;
/* text-transform: uppercase;
/* text-align: center;
/* font-weight: bold;
/*}
/*::-moz-placeholder { /* Firefox 19+ */ 
/* font-size: 14px;
/* color: #d0cdfa; 
/* text-transform: uppercase;
/* text-align: center;
/* font-weight: bold;
/*} 
/*:-ms-input-placeholder { 
/* font-size: 14px; 
/* color: #d0cdfa;
/* text-transform: uppercase;
/* text-align: center;
/* font-weight: bold;
/*}
